<h1>New Task</h1>
<td><%= @task.created_at %></td>
<%= render 'form', task: @task %>

<%= link_to 'Back', tasks_path %>
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
</div>