/*
 * This is a manifest file that'll be  compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this  directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory  can be referenced here using a relative path.
 *
 * You're free to add application-wide  styles to this file and they'll appear at the bottom of the
 * compiled file so the styles  you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory.  Styles in this file should be added after the last require_* statement.
 * It is generally better  to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field1{
position: relative;
float: right;  
margin-right: 16px;
margin-bottom: 7rem;
color:black;
}
.actions1{
position: relative;
float: right;
margin-top: 9rem;
margin-right: -7rem;
}
.card1{
position: relative;
bottom: 145.5rem;

}
.not{
    position: relative;
    color: black;
    bottom:101rem;
    width:17rem;
    height:12rem ;
}
/* .new{
    position: relative;
    bottom:100rem;   
} */
html,
body,
header,
.view {
  height:100rem;
  bottom: 10rem;
}

.img-fluid{
    position: relative;
    width: 400px;
    height:500px;
    bottom: 90rem;
}
.heda{
position: fixed;
width: 100rem;
}

.para{
text-align: center;
margin-bottom: 20rem;
}
.nyc{
    position: relative;
    bottom: 100rem;
}